.container {
    max-width: 60%;
    width: 900px;
    margin: 0 auto;
}

.outer {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: yellow;
    position: relative;
}

.inner {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
}

.btns {
    display: flex;
}

.btns .items {
    flex: 50%;
    padding: 10px;
    font-size: larger;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.btns .items:hover {
    background-color: thistle;
}

.btns .items:active {
    background-color: red;
}